* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

// style for sideBarIcon in Top
.sideBarIcon {
    box-shadow: 1px 0 1px #dee2e6;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 70px;
    min-height: 100%;
    position: relative;
}

.sideBarIcon__menu__top {
    display: flex;
    flex-direction: column;
}

.sideBarIcon__menu__top div:first-child {
    margin: 20px 0 51px 0;
    width: 100%;
}

.sideBarIcon__menu__top div:nth-child(2) {
    margin-bottom: 13px; 
    width: 100%;
}

.sideBarIcon__menu__top div:nth-child(4) {
    width: 100%;
}

.sideBarIcon__menu__top div {
    text-align: center;
}

.message {
    margin: 13px 0 14px 0;
    position: relative;
    width: 100%;
}

.message a span {
    border-radius: 7px;
    background-color: #d90909;
    color: #ffffff;
    font-family: "Noto Sans CJ Kjp - Medium";
    font-size: 8px;
    font-weight: 500;
    height: 12px;
    padding: 2px 0;
    position: absolute;
    right: 15px;
    top: -4px;
    text-align: center;
    width: 14px;
}

// .message a {
//     align-items: center;
//     display: flex;
//     flex-direction: row;
//     justify-content: center;
//     position: relative;
// }

// .sideBarIcon__menu--top .message img {
//     left: 0;
//     position: absolute;
// }

.sideBarIcon__menu__top .message a img:last-child:after {
    
    padding-left: 8px;
}

// style for sideBarIcon in Bottom
.sideBarIcon__menu__bottom {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 28px;
}

.sideBarIcon__menu__bottom div {
    margin-bottom: 16px;
}

// style for sideBarNav
.sideBarNav {
    box-shadow: 1px 0 0 #dee2e6;
    background-color: #f5f7f9;
    display: flex;
    flex-direction: column;
    min-width: 160px;
    min-height: 100%;
}

.sideBarNav__dropMenu img {
    float: right;
    margin: 10px 10px 21px 0;
}

.sideBarNav__title {
    align-items: center;
    display: flex;
    margin-bottom: 43px;
}

.sideBarNav__title img {
    align-self: center;
    margin: 0 4px 0 40px;
}

.sideBarNav__title span {
    color: #010101;
    font-family: "Noto Sans CJK JP Bold";
    font-size: 18px;
    font-weight: 700;
}

.sideBarNav .sideBarNav__mediaMenu {
    display: flex;
    flex-direction: column;
}

.sideBarNav .sideBarNav__mediaMenu div:not(.sideBarNav__mediaMenu__tooltipChat){
    margin-bottom: 30px;
    margin-left: 9px;
}

.sideBarNav .sideBarNav__mediaMenu div a img {
    margin-right: 5px;
}

.sideBarNav .sideBarNav__mediaMenu div:not(.sideBarNav__mediaMenu__tooltipChat) a span{
    color: #010101;
    font-family: "Noto Sans CJK JP Bold";
    font-size: 14px;
    font-weight: 700;
}

.sideBarNav .sideBarNav__mediaMenu__tooltipChat {
    margin-bottom: 20px;
}

.sideBarNav__mediaMenu__tooltipChat a img,
.sideBarNav__mediaMenu__tooltipChat a span {
    float: left;
    margin-right: 5px;
}

.sideBarNav__mediaMenu__tooltipChat a span {
    color: #1177ee;
    font-family: "Noto Sans CJK JP Bold";
    font-size: 14px;
    font-weight: 700;
    margin-right: 5px;
    width: 98px;
}

.sideBarNav__mediaMenu div a:link {
    align-items: center;
    display: flex;
    text-decoration: none;
}

.sideBarNav  .sideBarNav__mediaMenu div a:hover span {
    color: #1177ee;
    cursor: pointer;
    text-decoration: underline;
}

.sideBarNav  .sideBarNav__mediaMenu div a:active span { 
    color: green;
    cursor: auto;
    text-decoration: underline;
}

.sideBarNav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.sideBarNav ul li {
    margin-bottom: 29px;
}

li:not(.tooltipChat)>a  {
    padding: 15px 16px 14px 9px;
}

.sideBarNav ul li a span {
    color: #010101;
    font-family: "Noto Sans CJK JP Bold";
    font-size: 14px;
    font-weight: 700;
}

.sideBarNav ul li img {
    margin-right: 5px;
}

// style for searchCategory
.searchCategory {
    box-shadow: 1px 0 0 #dee2e6;
    background-color: #ffffff;
    min-height: 100%;
    width: 240px;
}

.searchCategory p {
    color: #010101;
    font-family: "Noto Sans CJK JP Regular";
    font-size: 16px;
    font-weight: 400;
    height: 25px;
    margin: 23px 78px 17px 18px;
    width: 144px;
}

.searchCategory form {
    margin-bottom: 21px;
}

.searchCategory form label {
    position: relative;
}

.searchCategory form label::before {
    content:'';
    border: 1px solid #010101;
    border-width: 0 0 1px 1px;
    font-family: "Noto Sans CJK JP Regular";
    font-size: 16px;
    font-weight: 500;
    height: 6px;
    position:absolute;
    transform:rotate(-45deg);
    right: 26px;
    top: 4px;
    width: 6px;
}

.searchCategory form select, 
.searchCategory form input {
    border-radius: 4px;
    border: 1px solid #e0e0e0;
    background-color: #fbfcfd;
    color: #010101;
    font-family: "Noto Sans CJK JP Regular";
    font-size: 13px;
    font-weight: 400;
    height: 36px;
    margin: 0 20px 12px 20px;
    padding: 3px 28px 3px 13px;
    -webkit-appearance: none;
    -moz-appearance:none;
    width: 200px;
}

.searchCategory form input {
    background-image: url('images/icon-search.png');
    background-position: 6px 10px; 
    background-repeat: no-repeat;
    color: #c5c5c5;
    font-family: "Noto Sans CJK JP Regular";
    font-size: 15px;
    font-weight: 400;
}

.listChat {
    display: flex;
    flex-direction: column;
}

.listChat__user {
    align-items: center;
    border-bottom: 1px solid #f0f0f0;
    display: flex;
    flex-direction: row;
    height: 58px;
    padding: 8px 12px 10px 10px;
}

.listChat__user:hover {
    background-color: #c6e0f9;
}

.listChat__user img:first-child,
.listChat__user__superIcon img {
    height: 36px;
    margin-right: 5px;
    width: 36px;
}

.listChat__user div:not(.listChat__user__superIcon) {
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.listChat .listChat__user:nth-child(2) {
    position: relative;
}

.listChat__user__superIcon span {
    background-color: #d90909;
    border-radius: 10px;
    color: #ffffff;
    font-size: 12px;
    font-weight: 700;
    height: 20px;
    left: 4px;
    position: absolute;
    padding: 3px 0;
    text-align: center;
    top: 4px;
    width: 24px;
}

.listChat__user div:not(.listChat__user__superIcon) span:first-child {
    color: #010101;
    font-family: "Noto Sans CJK JP Bold";
    font-size: 14px;
    font-weight: 700;
    height: 18px;
}

.listChat__user div:not(.listChat__user__superIcon) span:last-child {
    color: #808080;
    font-family: "Noto Sans CJK JP Regular";
    font-size: 12px;
    font-weight: 400;
}

// style for bodyChat
.bodyChat {
    background-color: #fbfcfd;
    display: flex;
    flex-basis: 1px;
    flex-direction: column;
    flex-grow: 1;
    min-height: 100%;
    overflow: hidden;
    padding: 0 13px 12px 13px;
}

.bodyChat__frame {
    align-items: center;
    display: flex;
    flex-basis: 1px;
    flex-direction: column; 
    flex-grow: 1;
    justify-content: center;
    padding: 0 19px;
}

.bodyChat__frame__content {
    align-items: center;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    width: 100%;
}

.bodyChat__frame__content--top {
    margin-bottom: 43px; 
}

.bodyChat__frame__content--top div:first-child {
    flex-grow: 3;
    flex-basis: 179px;
    height: auto;
    margin-right: 5px;
}

.bodyChat__frame__content--top div:last-child {
    align-self: center;
    flex-grow: 7;
    flex-basis: 427px;
    height: auto;
}

.bodyChat__frame__content--top div:first-child img {
    object-fit: contain;
    width: 100%;
}

.bodyChat__frame__content--top div:last-child img {
    object-fit: contain;
    width: 100%;
}

.bodyChat__frame__content--middle {
    margin-bottom: 30px;
}

.bodyChat__frame__content--middle div:first-child {
    align-self: center;
    flex-grow: 7;
    flex-basis: 427px;
    height: auto;
    margin-right: 17px;
}

.bodyChat__frame__content--middle div:last-child {
    flex-grow: 3;
    flex-basis: 167px;
    height: auto;
}

.bodyChat__frame__content--middle div:first-child img {
    object-fit: contain;
    width: 100%;
}

.bodyChat__frame__content--middle div:last-child img {
    object-fit: contain;
    width: 100%;
}

.bodyChat__frame__content--bottom div:first-child {
    flex-grow: 3;
    flex-basis: 192px;
    height: auto;
    margin-right: 5px;
}

.bodyChat__frame__content--bottom div:last-child {
    align-self: center;
    flex-grow: 7;
    flex-basis: 427px;
    height: auto;
}

.bodyChat__frame__content--bottom div:first-child img {
    object-fit: contain;
    width: 100%;
}

.bodyChat__frame__content--bottom div:last-child img {
    object-fit: contain;
    width: 100%;
}

//style for bodyChat form
.bodyChat__form {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.bodyChat__form__action {
    border-radius: 4px 4px 0 0;
    border: 1px solid #cccccc;
    background-color: #ffffff;
    display: flex;
    height: 40px;
    justify-content: space-between;
    padding: 5px 8px 5px 9px; 
    width: 100%;
}

.bodyChat__form__action label,
.bodyChat__form__action div {
    align-items: center;
    display: flex;
}

.bodyChat__form__action label input { 
    position: absolute;
    height: 0;
    width: 0;
    visibility: hidden;
}

.button__switch {
    background-color: #cccccc;
    border-radius: 16px;
    border: 1px solid #c5c5c5;
    height: 16px;
    margin-right: 13px;
    padding: 0 3px;
    position: relative;
    width: 32px;
}

.button__switch:after {
    content: "";
    background-color: white;
    border: 1px solid #e0e0e0;
    border-radius: 16px;
    height: 14px;
    left: 0;
    position: absolute;
    top: 50%;
    -webkit-transition: .4s;
    transition: .4s;
    transform: translate(0,-50%);
    width: 14px;
}

.bodyChat__form__action label span {
    color: #808080;
    font-family: "Noto Sans CJK JP Regular";
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
}

.bodyChat__form__action div span {
    color: #6f7276;
    font-family: "Noto Sans CJK JP Regular";
    font-size: 12px;
    font-weight: 400;
    margin-left: 4px;
}

.button__attach {
    background-color: #fff;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    cursor: pointer;
    height: 25px;
    margin-left: 7px;
    position: relative;
    width: 25px;
}

.button__attach:after {
    border-color: transparent;
    border-style: solid;
    border-width: 0 2px 2px 0;
    content: '';
    height: 14.5px;
    left: 50%;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(-50%, -60%) rotate(45deg);
    transform: translate(-50%, -60%) rotate(45deg);
    width: 8.33333333px;
}

.button__send {
    align-items: center;
    border: none;
    border-radius: 8px;
    background-color: #1177ee;
    cursor: pointer;
    display: flex;
    height: 30px;
    margin-left: 12px;
    padding: 4px 12px;
    width: 80px;
}

.bodyChat__form__action div .button__send span {
    color: #ffffff;
    font-family: "Noto Sans CJK JP Bold";
    font-size: 16px;
    font-weight: 700;
    vertical-align: bottom;
}

.bodyChat__form__note textarea {
    border-radius: 0 0 4px 4px;
    border: 1px solid #cccccc;
    background-color: #fffcf3;
    color: #808080;
    font-family: "Noto Sans CJK JP Regular";
    font-size: 14px;
    font-weight: 400;
    height: 90px;
    padding: 14px 15px;
    width: 100%;
}

.bodyChat__form__note textarea::placeholder {
    color: #cccccc;
    font-family: "Noto Sans CJK JP Regular";
    font-size: 14px;
    font-weight: 400;
    height: 42px;
    width: 224px;
}

.bodyChat__form__note {
    position: relative;
    width: 100%;
}

.bodyChat__form__note div {
    bottom: 5px;
    color: #808080;
    font-family: "Noto Sans CJK JP Regular";
    font-size: 11px;
    font-weight: 400;
    position: absolute;
    right: 9px;
}

//style for userInfo
.userInfo {
    box-shadow: -1px 0 0 #dee2e6;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    padding: 30px 15px;
    width: 280px;
}

.userInfo__nameSearch {
    align-items: center;
    border-bottom: 2px solid #c5c5c5;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 20px;
}

.userInfo__nameSearch img:first-child {
    margin-right: 4px;
}

.userInfo__nameSearch input {
    border-radius: 4px;
    border: 1px solid #cccccc;
    background-color: #fbfcfd;
    color: #c5c5c5;
    font-family: "Noto Sans CJK JP Regular";
    font-size: 15px;
    font-weight: 400;
    height: 36px;
    margin-right: 8px;
    padding: 6px 12px;
    width: 190px;
}

.userInfo__filterName,
.userInfo__note {
    display: flex;
    flex-direction: column;
}

.userInfo__BotMaster {
    margin: 24px 0 18px 0;
}

.userInfo__BotMaster span, 
.userInfo__filterName span, 
.userInfo__note span, 
.userInfo__nameTag span {
    color: #6f7276;
    display: block;
    font-family: "Noto Sans CJK JP Bold";
    font-size: 12px;
    font-weight: 700;
    margin-bottom: 7px;
}

.userInfo__BotMaster div {
    align-items: center;
    display: flex;
    flex-direction: row;
}

.userInfo__BotMaster div img {
    margin-right: 3px;  
}

.userInfo__filterName {
    margin-bottom: 29px;
}

.userInfo__filterName label {
    position: relative;
}

.userInfo__filterName label::before {
    content:'';
    border: 1px solid #010101;
    border-width: 0 0 1px 1px;
    font-family: "Noto Sans CJK JP Regular";
    font-size: 16px;
    font-weight: 500;
    height: 6px;
    position:absolute;
    transform:rotate(-45deg);
    right: 6px;
    top: 14px;
    width: 6px;
}

.userInfo__filterName select {
    background-color: #ffffff;
    border-radius: 4px;
    border: 1px solid #e0e0e0;
    color: #010101;
    font-family: "Noto Sans CJK JP Regular";
    font-size: 13px;
    font-weight: 400;
    height: 36px;
    padding: 3px 3px 3px 16px;
    -webkit-appearance: none;
    -moz-appearance:none;
    width: 250px;
}

.userInfo__nameTag {
    margin-bottom: 26px;
}

.userInfo__nameTag button {
    border-radius: 6px;
    border: 1px solid #c5c5c5;
    background-color: #ffffff;
    height: 22px;
    padding: 0 6px;
    position: relative;
    width: 80px;
}

.userInfo__nameTag button span {
    color: #6f7276;
    font-family: "Noto Sans CJK JP Regular";
    font-size: 11px;
    font-weight: 400;
    position: absolute;
    left: 6px;
    top: 1px;
}

.userInfo__nameTag button img {
    position: absolute;
    right: 2px;
    top: 1px;
}

.userInfo__nameTag input {
    border-radius: 4px;
    border: 1px solid #cccccc;
    background-color: #fbfcfd;
    color: #c5c5c5;
    font-family: "Noto Sans CJK JP Regular";
    font-size: 15px;
    font-weight: 400;
    height: 36px;
    margin-top: 7px;
    padding: 6px 17px;
    width: 250px;
}

.userInfo__note textarea {
    border-radius: 4px;
    border: 1px solid #cccccc;
    background-color: #fbfcfd;
    height: 100px;
    width: 250px;
}