* {
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0; }

.sideBarIcon {
  width: 70px;
  height: 1024px;
  float: left;
  box-shadow: 1px 0 1px #dee2e6; }

.navIconTop {
  list-style-type: none;
  margin: 0 0 648px 0;
  padding: 0; }

.navIconTop li:first-child {
  margin: 20px 0 51px 0; }

.navIconTop li:nth-child(2) {
  margin-bottom: 13px; }

.navIconTop li:nth-child(3) {
  margin-bottom: 14px; }

.navIconTop .message img:nth-child(1) {
  display: table-cell;
  float: left;
  vertical-align: middle; }

.navIconTop li img {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.navIconBottom {
  list-style-type: none;
  margin: 0;
  padding: 0; }

.navIconBottom li img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 16px; }

.sideBarNav {
  width: 160px;
  height: 1024px;
  box-shadow: 1px 0 0 #dee2e6;
  background-color: #f5f7f9;
  display: flex;
  flex-direction: column;
  float: left; }

.dropMenu img {
  float: right;
  margin: 10px 10px 21px 0; }

.title {
  align-items: center;
  display: flex;
  margin-bottom: 43px; }

.title img {
  align-self: center;
  margin: 0 4px 0 40px; }

.title span {
  width: 42px;
  height: 27px;
  color: #010101;
  font-family: "Noto Sans CJK JP Bold";
  font-size: 18px;
  font-weight: 700; }

.sideBarNav ul {
  list-style-type: none; }

.sideBarNav ul li a {
  display: flex;
  align-items: center; }

.tooltipChat img {
  float: left;
  margin-right: 5px; }

.tooltipChat span {
  margin-right: 5px;
  color: #1177ee;
  font-family: "Noto Sans CJK JP Bold";
  font-size: 14px;
  font-weight: 700; }

.sideBarNav ul {
  list-style-type: none;
  margin: 0;
  padding: 0; }

.sideBarNav ul li {
  margin-bottom: 29px; }

.sideBarNav ul li a {
  padding: 15px 30px 14px 9px; }

.sideBarNav ul li a span {
  width: 98px;
  height: 21px;
  color: #010101;
  font-family: "Noto Sans CJK JP Bold";
  font-size: 14px;
  font-weight: 700; }

.sideBarNav ul li img {
  margin-right: 5px; }

.searchCategory {
  width: 240px;
  height: 1024px;
  float: left; }

.searchCategory {
  width: 240px;
  height: 1024px;
  box-shadow: 1px 0 0 #dee2e6;
  background-color: #ffffff; }

.searchCategory p {
  color: #010101;
  width: 144px;
  height: 25px;
  font-family: "Noto Sans CJK JP Regular";
  font-size: 16px;
  font-weight: 400;
  margin: 23px 78px 17px 18px; }

.searchCategory form input {
  width: 200px;
  height: 36px;
  border-radius: 4px;
  border: 1px solid #e0e0e0;
  color: #010101;
  font-family: "Noto Sans CJK JP Regular";
  font-size: 13px;
  font-weight: 400;
  padding: 3px 28px 3px 13px;
  margin: 0 20px 12px 20px; }

.searchCategory form input:last-child {
  color: #c5c5c5;
  font-family: "Noto Sans CJK JP Regular";
  font-size: 15px;
  font-weight: 400; }
